@using BoneLog.Blazor.Dtos
@inject HttpClient Http
@inject SiteConfig Config

<footer class="site-footer">
    @if (Config.SocialLinks?.Length > 0)
    {
        <div class="site-footer__socials">
            @foreach (var link in Config.SocialLinks)
            {
                <a href="@link.Url" target="_blank" rel="noopener noreferrer"
                   class="site-footer__social-link">
                    <i class="@link.IconClass"></i>
                </a>
            }
        </div>
    }


    <div class="site-footer__credit">
        <code>
            &lt; <a href="https://github.com/Taqiam/BoneLog" target="_blank" rel="noopener noreferrer">Powered By BoneLog </a><a href="https://github.com/Taqiam" target="_blank" rel="noopener noreferrer">Made By 🍵 And 🤍</a> /&gt;
        </code>
    </div>
</footer>
