@using BoneLog.Blazor.Components
@inject HttpClient Http
@inject NavigationManager Nav
@inject SiteConfig Config;


<header class="site-header">
    <div class="site-header__inner">
        <div class="site-header__brand">
            <a href="@Nav.BaseUri">
                @Config.Title
            </a>
        </div>

        <button type="button" class="site-header__menu-toggle" @onclick="ToggleMenu" aria-label="Toggle menu">
            @(menuOpen ? "✖" : "☰")
        </button>

        <NavMenu CssClass="nav-menu nav-menu--desktop">
            <ToggleThemeButton />
        </NavMenu>
    </div>

    <NavMenu CssClass="@($"nav-menu nav-menu--mobile {(menuOpen ? "" : "nav-menu--hidden")}")">
        <ToggleThemeButton />
    </NavMenu>
</header>

@code {
    private bool menuOpen = false;

    private void ToggleMenu() => menuOpen = !menuOpen;
}
