@inherits LayoutComponentBase
@inject ThemeService ThemeService

<div class="site-shell">
    <Header />
    <main class="site-main">
        @Body
    </main>
    <Footer/>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.OnChange += StateHasChanged;
    }
    protected override async Task OnInitializedAsync()
    {
        await ThemeService.InitializeAsync();
    }
    public void Dispose()
    {
        ThemeService.OnChange -= StateHasChanged;
    }
}
