@using BoneLog.Blazor.Dtos
@using BoneLog.Tools
@inject SiteConfig Config

<nav class="@CssClass">
    @foreach (var item in Config.NavItems ?? [])
    {
        <a class="nav-menu__link" href="@item.Url.ToAppRelativeUrl()">@item.Title</a>
    }
    @ChildContent
</nav>

@code {
    [Parameter]
    public string CssClass { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
