@inject SiteConfig Config

@if (Config.FeaturesOrDefault.EnableMultilanguage && !string.IsNullOrEmpty(Code))
{
    <SearchQueryLink Query="@($"Lang:{Code}")">
        <span class="language" lang="@Code.ToLowerInvariant()">
            <span class="language__code">@Code</span>
        </span>
    </SearchQueryLink>
}

@code {
    [Parameter]
    public string? Code { get; set; }
}
