@if(!string.IsNullOrEmpty(TagName))
{
    <a href="?search=%23@(TagName)">
        <span class="tag">
            @TagName
        </span>
    </a>
}

@code {
    [Parameter]
    public string? TagName { get; set; }
}
