@inject ThemeService ThemeService


<button type="button" @onclick="ToggleTheme" class="theme-toggle">

    <span class="theme-toggle__icon @(ThemeService.IsDark ? "theme-toggle__icon--visible" : "theme-toggle__icon--hidden")">
        🌚<sub>😎</sub>
    </span>

    <span class="theme-toggle__icon @(ThemeService.IsDark ? "theme-toggle__icon--hidden" : "theme-toggle__icon--visible")">
        😎<sub>🌚</sub>
    </span>
</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ThemeService.InitializeAsync();
    }
    private async Task ToggleTheme() => await ThemeService.ToggleAsync();
}
