@page "/{**slug}"
@inject IBlogContentProvider Reader

<div class="page-container">

    @if (isLoading)
    {
        <Loading />
    }
    else if (htmlContent is null)
    {
        <NotFound />
    }
    else
    {
        <MarkdownContent Content="@htmlContent" ContentPath="@slug" ContentKind="page" />
    }

</div>

@code {

    [Parameter] public string slug { get; set; } = null!;

    private string? htmlContent = null;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        htmlContent = await Reader.GetContent(slug);
        isLoading = false;
    }
}